# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Django migrations
*/migrations/

# Ignore other common files
*.log
*.pot
*.py[cod]

# Ignore environment variables file
.env
db.sqlite3